
body {
    background-color: whitesmoke;
}

.floating-btn{
    border-radius: 25px;
    margin-bottom: 10px;
}

div.jumbotron.jumbotron-fluid {
  background-image: url("../image/hero-image.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

a.link{
    color: darkslategray;
    text-decoration: none;
}

h5.card-title {
    background-color: rgba(255, 250, 240, 0.7);
    text-shadow: 3px 3px 3px floralwhite;
}

.original-price{
    text-decoration: line-through;
}