{%load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
     <!--Jquery CSS-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<title>
    {%block title%}{%endblock%}
</title>

  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
  <img src="{%static '/image/logo.png' %}"/>
  <span class="logo">Cloudberry Grocer</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_page_route' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product_directory_route' %}">Directory</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/products/breakfast">Breakfast</a>
          <a class="dropdown-item" href="/products/biscuits-and-cookies">Biscuit & Cookies</a>
          <a class="dropdown-item" href="/products/grains-and-dried-beans">Grains & Dried Beans</a>
          <a class="dropdown-item" href="/products/nuts">Nuts</a>
          <a class="dropdown-item" href="/products/baking-ingredients">Baking Ingredients</a>
          <a class="dropdown-item" href="/products/fresh-produce">Fresh Produce</a>
        </div>
      </li>
      <li class="nav-item">
      {% if request.user.is_anonymous %}
      <a class="nav-link" href = "{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
      </li>
      <li class="nav-item">
      {% if request.user.is_authenticated %}
      <a class="nav-link" href = "{% url 'account_logout' %}">Logout</a>
      {% else %}
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      {% endif %}
      </li>
      {% if request.user.is_superuser or request.user.is_staff or perms.products.add_product %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staff Access
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="{% url 'view_brand_route' %}">View Brand</a>
          <a class="dropdown-item" href="{% url 'view_subcategory_route' %}">View Subcategory</a>
          <a class="dropdown-item" href="{% url 'view_usage_route' %}">View Usage</a>
        </div>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'mykitchen_home_page' %}">My Kitchen</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_cart' %}">
        <img src="{% static '/image/shopping-cart.svg' %}"/>
        <span class="badge badge-danger" id="qty-badge">{{item_count}}</span>
        </a>
      </li>
    </ul>
    
  </div>
</nav>

    {%block hero %}
    {% endblock %}
<div class="container">

{% if messages %}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">    
        <div>
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
         </button>
    </div>
{% endif %}

    {%block content%}
    {%endblock%}
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/285400acfc.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {%block js%}
    {%endblock%}
  </body>
</html>