{% extends 'base.template.html' %}
{%load static %}

{%block title%}
Cloudberry Grocer Home Page
{%endblock%}


{%block hero%}
<div class="jumbotron jumbotron-fluid mart">
	<div class="container">
		<h1 class="display-4 hero-text">Welcome to Cloudberry Grocer.</h1>
		<h3 class="lead cta">The grocer that's just a click away.</h3>
	</div>
</div>
{% endblock %}


{%block content%}

{% if request.user.is_authenticated  %}
<p class="alert alert-info" role="alert">You are currently logged in as {{request.user}}</p>
{% else %}
<p class="alert alert-info" role="alert">Welcome to Cloudberry Grocer, guest</p>
{% endif %}


<div class="mt-5 mb-3">
	<h4>Product Categories</h4>
</div>

<div class="row row-cols-12">
	{% for cat in categories %}
	<div class="card col-6 col-md-2 mb-3 bg-transparent border-0">
		<a href="/products/{{cat.slug}}" class="link">
			<img src="{% static '/image/cat' %}{{cat.cat_no}}.jpg" class="card-img img-fluid rounded" alt="product categories"/>
			<div class="card-img-overlay">
				<h5 class="card-title">{{cat.name}}</h5>
			</div>
		</a>
	</div>
	{% endfor %}
</div>

<div class="mt-5 mb-3">
	<h4>Current Offers</h4>
</div>

<div class="row mb-3 row-cols-12">
	<div class="card-deck">
		<!--startdeck-->
		{%for product in products_on_offer %}
		{% if forloop.counter0|divisibleby:5 and forloop.counter0 != 0 %}
	</div>
	<!--end deck-->
</div>
<!--end row-->
<div class="row mb-3 row-cols-12">
	<div class="card-deck">
		<!--startdeck-->
		{% endif %}




		<div class="card col-md-2">
			<a href="{% url 'product_detail_route' pk=product.id %}" data-toggle="tooltip" data-placement="top" title="Click to view {{product.name}}">
				<img src="{{product.image}}" class="card-img-top rounded" alt="product-image">
            </a>
				<div class="card-body">
					<h5 class="card-title">${{product.get_current_price|floatformat:2 }} &nbsp
						<span><small class="text-muted original-price">${{product.root_price|floatformat:2}} </small></span>
					</h5>
					<p class="card-text">{{product.name}}</p>
					    {%if product.weight_per_pack < 1000 %}
					    <p class="card-text">{{product.weight_per_pack}}g</p>
                        {%else%}
                        <p class="card-text">{{product.weight_per_pack|stringformat:"e"|cut:"0000e+03"}}kg</p>
                        {% endif %}
					<div>
                    <a href="{% url 'add_to_cart' product_id=product.id %}">
                        <img src="{% static '/image/shopping-cart.svg' %}"/>
						<p class="card-text"><small class="text-muted">Add to Cart</small></p>
                    </a>
					</div>
				</div>
		</div>
		{%endfor%}

	</div>
	<!--end deck last-->
</div>
<!--end row last-->

{%endblock%}