{% extends 'base.template.html' %}
{%load static%}

{%block title%} List of Product Usage {%endblock%}

{%block content%}

{% if perms.products.add_usage %}
<a class="btn btn-secondary btn-lg floating-btn" href="{% url 'add_usage_route' %}" role="button" data-toggle="tooltip"
	data-placement="bottom" title="Add Usage">+</a>
{% endif %}


{% if usage_list %}
<div class="list-group">
	{% for usage in usage_list%}
	<div class="list-group-item d-flex">
		<div class="col">
			{{usage.name}}
		</div>
		<div class="col">
			<a class="btn btn-primary" href="{% url 'update_usage_route' pk=usage.id%}"
				role="button"><i class="fas fa-pen-alt"></i>Edit</a>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{usage.id}}">
    <i class="fas fa-trash-alt"></i>Delete
    </button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="deleteModal-{{usage.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Do you want to delete this product usage information?
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                        </button>
				</div>
				<div class="modal-body">
					<p>Deleting a product usage information will remove it permanently. This action cannot be undone.
					</p>
				</div>
				<div class="modal-footer">
					<form action="{%url 'delete_usage_route' pk=usage.id%}" method="POST">
						{% csrf_token %}
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-danger" value="CONFIRM"/>
        </form>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}
</div>
{% endif %}
{%endblock%}