{% extends 'base_kitchen.template.html' %}
{%load crispy_forms_tags %}
{%load static%}


{%block title%} Create Kitchen Storage Form {%endblock%}

{%block nav%}
{% if request.user == household.owner %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'view_household' household_id=household.id %}">View Home Profile</a>
</li>
{% endif %}
{% if household %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'view_storage_location' household_id=household.id %}">Storage</a>
</li>
{%endif %}
{%endblock%}

{%block content%}
<h3>MyKitchen Input Storage Form</h3>
<form method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" role="button" class="btn btn-general" value="Submit"/>
    </form>
	{% endblock %}