{% extends 'base_kitchen.template.html' %}
{%load crispy_forms_tags %}
{%load static%}


{%block title%} Register Household Form {%endblock%}
{%block content%}
    <h3>My Household Form</h3>
    <form method="POST">
    {% csrf_token %}
    {{ house_form|crispy }}
    {{ member_form.management_form|crispy }}
    {% for form in member_form %}
    <div class="form-inline {{ form.prefix }}">
        {{ form|crispy }}
        {{ form.id}}
    </div>
    {% endfor %}
    <input type="submit"/>
    </form>    
  {% endblock %}