{% extends 'base_kitchen.template.html' %}
{%load crispy_forms_tags %}
{%load static%}

{%block title%} Update Household Form {%endblock%}

{%block nav%}
    {% if request.user == household.owner %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_household' household_id=household.id %}">View Home Profile</a>
    </li>
    {% endif %}
    {% if household %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_storage_location' household_id=household.id %}">Storage</a>
      </li>
    {%endif %}
{%endblock%}

{%block content%}
    <h3>My Household Form</h3>
    <form method="POST">
    {% csrf_token %}
    {{ house_form|crispy }}
    {{ member_form.management_form|crispy }}
    <p>Please check delete to delete previous members by position.</p>
    {% for form in member_form %}
    <div class="form-inline {{ form.prefix }}">
        {{ form|crispy }}
        {{ form.id}}
    </div>
    {% endfor %}
    <input type="submit" role="button" class="btn btn-general" value="Submit"/>
    </form>    
  {% endblock %}