{% extends 'base_kitchen.template.html' %}
{%load static %}

{%block title%}
MyKitchen Household Profile
{%endblock%}

{% block content%}
<div class="card">
  <h5 class="card-header">My Household Profile</h5>
  <div class="card-body">
    <h5 class="card-title">{{household.name}}</h5>
    <ul class="card-text">Family Members:
    {% for member in members %}
    <li> {{member.user}}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'edit_household' household_id=household.id%}" class="btn btn-primary" role="button"><i class="fas fa-pen-alt"></i>Edit</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-placement="bottom" data-target="#deleteModal-{{household.id}}" title="Delete household profile">
    <i class="fas fa-trash-alt"></i>Delete
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal-{{household.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Do you want to delete this Household Profile?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deleting a household profile will remove it permanently. This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
      <form action="{% url 'delete_household' household_id=household.id%}" method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-danger" value="CONFIRM"/>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}